{% extends 'blog/layout.html' %}
{% load static %}

{% block title %}Лента новостей{% endblock %}

{% block static %}
<link rel="stylesheet" href="{% static 'blog/CSS/blog_list.css' %}">
{% endblock %}

{% block content %}


{% if perms.blog.add_blogpost %}
<div style="display:flex; justify-content:flex-start; margin: 25px 0 20px 20px; border-radius: 999px; ">
    <a class="btn btn-success" href="{% url 'blog:blog_create' %}">
        + Создать блог
    </a>
</div>
{% endif %}


<form method="GET" class="search-form">

    <input type="text"
           name="search"
           placeholder="Поиск статьи..."
           value="{{ search }}">

    <select name="sort">
        <option value="-date_published" {% if sort == "-date_published" %}selected{% endif %}>
            Сначала новые
        </option>

        <option value="date_published" {% if sort == "date_published" %}selected{% endif %}>
            Сначала старые
        </option>
    </select>

    <input type="date"
           name="date"
           value="{{ date }}">

    <button type="submit">Применить</button>
</form>


{% if no_results_by_date %}
    <div class="no-results">
        😕 Новостей за выбранную дату не найдено
    </div>
{% endif %}


<div class="list">

    {% for blog in page_obj %}

    <div class="blog-card">

        {% if blog.Image %}
            <img src="{{ blog.Image.url }}" alt="{{ blog.title }}">
        {% endif %}

        <div class="content">
            <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
        </div>

        <div class="blog_info">
            {{ blog.content|truncatechars:140 }}
        </div>

        <div class="meta">
            <span>👤 {{ blog.author }}</span>
            <span>📅 {{ blog.date_published }}</span>
        </div>


        {% if request.user.is_superuser %}
        <div class="actions">

            <a class="btn btn-outline-warning"
               href="{% url 'blog:update_blog' pk=blog.id %}">
                <i class="fa fa-edit"></i>
            </a>

            <a class="btn btn-outline-danger"
               href="{% url 'blog:delete_blog' pk=blog.id %}">
                <i class="fa fa-trash"></i>
            </a>

        </div>
        {% endif %}

    </div>

    {% empty %}
        {% if not no_results_by_date %}
            <p style="text-align:center;">Новостей пока нет</p>
        {% endif %}
    {% endfor %}

</div>

<div class="pagination">

    {% if page_obj.has_previous %}
        <a href="?page=1&search={{ search }}&sort={{ sort }}&date={{ date }}">⏮</a>
        <a href="?page={{ page_obj.previous_page_number }}&search={{ search }}&sort={{ sort }}&date={{ date }}">‹</a>
    {% endif %}

    <span>
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&search={{ search }}&sort={{ sort }}&date={{ date }}">›</a>
        <a href="?page={{ page_obj.paginator.num_pages }}&search={{ search }}&sort={{ sort }}&date={{ date }}">⏭</a>
    {% endif %}

</div>

{% endblock %}